.card{
    background-color: #18B79C;
    color: white;
    border-radius: 0;
}

.search-list{
    background-color: #ecf0f1;
    color: black;
}

.saveBook {
    margin-left: 10px
}

.viewBook {
    margin-left: 5px
}